/*globals*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial;
}
p{
    line-height: 2;
    color: white;
    background-color: black;
}
header{
    background-color: #fc0;
    height: 300px;
}
h1{
    font-size: 72px;
}