/*Global*/
*{
    margin: 0;
}

body{
    background-color: black;
    font-family: Arial;
}

img{
    max-width: 100%; 
}

/*utilities*/
.container{
    width: 80%;
    margin: 0 auto;
}

/*Nav*/
.nava{
    max-width: 100%;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: white;
}
.menu-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.menu-2 a:last-of-type{
    background-color: yellow;
    padding: 17px;
    margin-right: 0;
    font-weight: 700;
}

.menu-2 a:last-of-type:hover{
    background-color: black;
    color: white;

}
.menu-0{
    display: none;
}

@media(max-width: 768px){
    .menu{
        justify-content: space-around;
    }
    .menu-0{
        display: inline-block;
    }

    .icons{
        display: none;
    }
}


/*This working in children*/
.menu a{
    color: black;
    text-decoration: none;
    margin-right: 10px;
    font-size: 14px;
}

/*Header, This working in a only tag*/
header.site-init{
    color: white;
    text-align: center;
}

.site-init h2{
    color: white;
    font-size: 52px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 10px 0;
}

.site-init p{
    color: white;
    font-size: 18px;
    margin: 10px 0;
}

.site-init span{
    border-bottom: 2px solid yellow;
}

/*Todays pick's sections*/
.site-main{
    display: flex;
}

.todays-container{

}

.todays-container h2{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 4px;
    border-left: 5px solid yellow;
    padding-left: 20px;
    margin: 30px 0;
}

.todays-picks{
    display: flex;
}

.todays-picks img{
    width: 80px;
    height: 80px;
    margin-right: 30px;
}

.today-pick-text{
    color: white;
}

.main-news{
    background-image: url(https://content.nationalgeographic.com.es/medio/2022/03/16/una-ballena-con-su-cria_daaa27c5_1280x720.jpg);
    height: 350px;
}

.today-pick-text h3{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.today-pick-text p{
    font-size: 16px;
}

.main-news{
    background-color: blue;
    height: 350px;
}

.secondary-news-container{
    display: flex;
}
@media(max-width: 768px){
    .container{
        width: 95%;
    }
    .site-main{
        flex-direction: column-reverse;
    }
    .secondary-news-container{
        flex-direction: column;
    }
}

.secondary-news{
    background-color: white;
    width: 300px;
    height: 350px;
}
.secondary-news:first-of-type{
    margin-right: 10px;
}